body {
  text-align: center;
  background-color: #0e9577;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.startButton {
  background-color: #a8df65; /* Green */
  border: none;
  color: #edf492;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #f1efb9;
  border-radius: 20%;
}

.game-over {
  background-color: #fbfae1;
  opacity: 0.8;
}

.colour1 {
  background-color: #ffb0cd;
}

.colour3 {
  background-color: #c2f0fc;
}

.colour2 {
  background-color: #ffd1bd;
}

.colour4 {
  background-color: #ffffff;
}

.pressed {
  box-shadow: 0 0 20px #f2ffe9;
  background-color: #a6cf98;
}

.gameStart {
  visibility: hidden;
}
